.play-video {
  flex-basis: 69%;
}
.play-video video {
  width: 100%;
}
.play-video h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}

.play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}
.play-video-info img {
  width: 20px;
  margin-right: 8px;
}
.play-video-info span{
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}
.play-video-info hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
.puplisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.puplisher div {
  flex: 1;
  line-height: 18px;
}
.puplisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.puplisher div p {
  font-weight: 600;
  color: #000;
  font-size: 18px;
}
.puplisher div span {
  color: #5a5a5a;
  font-size: 12px;
}
.puplisher button {
  background: red;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
}
.video-desc {
  padding-left: 55px;
  margin: 15px 0;
}
.video-desc p{
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}
.video-desc h4 {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 15px;
}
.comment {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}
.comment h3 span {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
  margin-left: 8px;
}
.comment-section {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}
.comment-section img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}
.comment-section span {
  margin-right: 20px;
  color: #5a5a5a;
}
